@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

html {
    font: 400 14px / 1 Roboto mono, serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    min-height: 100vh;
    background-image: url('./flex.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1,
h2,
p,
button {
    margin: 0;
    padding: 0;
}

main {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}

main h1 {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    margin-bottom: 21px;
}

main>p {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 55px;
}

main>div {
    
    justify-content: center;
    width: 100%;
    max-width: 2450px;
    margin: 0 auto;
    gap: 27px;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
}

.card {
    
    padding: 30px;
    width: calc(100% / 4 - 90px / 4);
    display: flex;
    gap: 50px;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #2979c0;
    background-color: #ffffff;
    box-sizing: border-box;
    
}

.card article {
    
    flex-direction: column;
    gap: 21px;
    display: flex;
}

.card article p {
    width: 50px;
    height: 50px;
    background-color: #0baacd;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: 690;
    justify-content: center;
    align-items: center;
    display: flex;
}


.card article h2 {
    color: #07b0d5;
    font-size: 1.8rem;
}

.card article div {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    font-weight: 350;
}

.card button {
    width: 40%;
   
    min-width: max-content;
    padding: 10px 40px;
    border: 3px solid #19a2c1;
    color: #13add0;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: larger;
}

.card button:hover {
    background-color: #1bb0d1;
    color: #fff;
    
}

@media (min-width: 2500px) {
    html {
        font-size: 25px;
    }

    .card {
        padding: 39px;
    }

    .card article {
        gap: 50px;
    }

    .card article p {
        width: 100px;
        height: 100px;
    }
   
}

@media (min-width: 1920px) and (max-width: 2550px) {
    html {
        font-size: 22px;
    }

    .card article {
        gap: 30px;
    }

    .card article p {
        width: 69px;
        height: 69px;
    }
}

@media (min-width: 1440px) and (max-width: 1910px) {
    html {
        font-size: 18px;
    }

    .card article {
        gap: 30px;
    }

    .card article p {
        width: 62px;
        height: 62px;
    }
}

@media (min-width: 750px) and (max-width: 1430px) {
    html {
        font-size: 15px;
    }

    .card {
        width: calc(100% / 2 - 90px / 2);
    }
}

@media (min-width: 570px) and (max-width: 765px) {
    html {
        font-size: 15px;
    }

    main {
        padding: 20px;
    }

    .card {
        width: 100%;
    }

    .card button {
        border: 3px solid #15a6c7;
    }
}

@media (max-width: 570px) {
    html {
        font-size: 15px;
    }

    main {
        padding: 25px;
    }

    .card {
        width: 100%;
    }

    .card button {
        border: 1px solid #14a1c1;
    }
}